<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test flask</title>
</head>
<body>

<!--{{ visited }}-->

<h1> Log in  </h1>


<!--<form action= "catalog" method="POST">-->
<!--     <input Please enter your username= "param">-->
<!--     <input type= "submit">-->
<!--</form>-->

 <form action='login' method='POST'>
             <input name="username">
             <input type="submit">
         </form>

<!--<ul>-->
<!--{% for name in names %}-->
<!--    <li> {{name[1] }}<li/>-->


<!--{%endfor%}-->
<!--<ul/>-->
</body>
</html>